* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.grid-card {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
/* .card-containt {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} */
